@page
@model listaZakupow.Pages.Produkty.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Produkt.Id" />
            <div class="form-group">
                <label asp-for="Produkt.Opis" class="control-label"></label>
                <input asp-for="Produkt.Opis" class="form-control" />
                <span asp-validation-for="Produkt.Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produkt.Rodzaj" class="control-label"></label>
                <input asp-for="Produkt.Rodzaj" class="form-control" />
                <span asp-validation-for="Produkt.Rodzaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produkt.Data" class="control-label"></label>
                <input asp-for="Produkt.Data" class="form-control" />
                <span asp-validation-for="Produkt.Data" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Produkt.Zrobione" /> @Html.DisplayNameFor(model => model.Produkt.Zrobione)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
